---
layout: page
title: Categories
header: Hannes Gruber - Posts by Category
group: navigation
---
{% include JB/setup %}

<div class="button-bar">
  <ul class="button-group">
{% assign categories_list = site.categories %}
    {% for category in categories_list %} 
    	<li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" class="tiny button">
    		{{ category[0] | join: "/" }} : {{ category[1].size }}
    	</a></li>
    {% endfor %}
{% assign categories_list = nil %}
	</ul>
</div>

{% for category in site.categories %} 
	<h3 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h3>
    {% assign posts_list = category[1] %}  
    {% include custom/posts_list %}
{% endfor %}

