---
layout: page
title: Tags
header: Hannes Gruber - Posts By Tag
group: navigation
---
{% include JB/setup %}

<div class="button-bar">
  <ul class="button-group">
{% assign tags_list = site.tags %}  
{% for tag in tags_list %} 
    	<li><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref" class="tiny button">
    		{{ tag[0] }} : {{ tag[1].size }}
    	</a></li>
{% endfor %}
	</ul>
</div>

{% for tag in site.tags %} 
	<h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
    {% assign posts_list = tag[1] %}  
    {% include custom/posts_list %}
{% endfor %}
