/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
background: url(../images/background.png) repeat scroll left top #000000;
color: #dddddd;

}
h1 {
color: #ffcc00;
}
h2, h3, h4, h5, h6 {
	color: #dddddd;
}
.panel {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #333333;
}
#top {
    background: none; 
}
#top li h1 {
    color: #ffcc00;
}
hr {
	border-color: #6f6f6f; 
	border-width: 2px 0 0;
}
/* ----------------------------------------- */
/* Fixes for mobile small menu which contains to large fonts out of the box */
#top li h5 a {
	font-size: 13px;
}
.top-bar ul > li.has-dropdown.moved > .dropdown li:not(.title) a {
    font-size: 13px;
}
/* ----------------------------------------- */
#top-touch {
	padding-top: 10px;
	padding-bottom: 10px;
}
#top-touch a {
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	padding-right: 15px;
}
#header {
    background: none repeat scroll 0 0 #222222;
}
#content {
    color: #bbbbbb;
    background: none repeat scroll 0 0 #222222;
}
#slideshow {
    background-image: url(../images/header/mountainpluslake.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    text-align: center;
}
#slideshow img { display: none; }
#slideshow img.first { display: block; width: 100%; }

#slideshow.orbit { background: none; margin-bottom: 0px; }
#slideshow.orbit img { display: block; }

#footer {
    /* background: none repeat scroll 0 0 #3F3F3F; */
    /*color: #FFFFFF;*/
    padding: 11px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #ffffff;
}
#footer .social {
	font-size: 17px;
}

/* Paging Colors */
ul.pagination li a {
	color: #ffcc00;
}
ul.pagination li:hover a, ul.pagination li a:focus {
    background: none repeat scroll 0 0 #444444;
}
/*
.orbit-wrapper { height: 170px !important; width: 1980px !important; }
.orbit-wrapper img { height: 170px !important; width: 1980px !important; }
*/
.orbit-wrapper .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }
.orbit-wrapper:hover .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.orbit-wrapper .timer { opacity: 0.2; }
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


